location:
    # List of source directories to backup (required). Globs and tildes are expanded.
    source_directories:
{% for location in backup_locations %}
        - {{ location }}
{% endfor %}

    repositories:
        - '{{ borg.user }}@{{ borg.host }}:{{ inventory_hostname }}'

    # Any paths matching these patterns are included/excluded from backups. Globs are
    # expanded. (Tildes are not.) Note that Borg considers this option experimental.
    # See the output of "borg help patterns" for more details. Quote any value if it
    # contains leading punctuation, so it parses correctly.
    # patterns:
        # - R /
        # - '- /home/*/.cache'
        # - + /home/susan
        # - '- /home/*'

    # Any paths matching these patterns are excluded from backups. Globs and tildes
    # are expanded. See the output of "borg help patterns" for more details.
    # exclude_patterns:
        # - '*.pyc'
        # - ~/*/.cache
        # - /etc/ssl
    exclude_caches: true
    exclude_if_present:
        - .nobackup

# Repository storage options. See
# https://borgbackup.readthedocs.io/en/stable/usage.html#borg-create and
# https://borgbackup.readthedocs.io/en/stable/usage/general.html#environment-variables for
# details.
storage:
    # encryption_passphrase: ""
    encryption_passcommand: cat /etc/borgmatic/key

    checkpoint_interval: 1800
    compression: lz4

    borg_config_directory: /var/data/borg/config

    # Path for Borg cache files. Defaults to $borg_base_directory/.cache/borg
    # borg_cache_directory: /path/to/base/cache

    # Path for Borg security and encryption nonce files. Defaults to $borg_base_directory/.config/borg/security
    borg_security_directory: /var/data/borg/security

    umask: 0077

    lock_wait: 5

    # Name of the archive. Borg placeholders can be used. See the output of
    # "borg help placeholders" for details. Defaults to
    # "{hostname}-{now:%Y-%m-%dT%H:%M:%S.%f}". If you specify this option, you must
    # also specify a prefix in the retention section to avoid accidental pruning of
    # archives with a different archive name format. And you should also specify a
    # prefix in the consistency section as well.
    archive_name_format: '{hostname}-{now}'

# Retention policy for how many backups to keep in each category. See
# https://borgbackup.readthedocs.org/en/stable/usage.html#borg-prune for details.
# At least one of the "keep" options is required for pruning to work. See
# https://torsion.org/borgmatic/docs/how-to/deal-with-very-large-backups/
# if you'd like to skip pruning entirely.
retention:
{% if borg.retention_policy.keep_secondly is defined %}
    keep_secondly: {{ borg.retention_policy.keep_secondly }}
{% endif %}

{% if borg.retention_policy.keep_minutely is defined %}
    keep_minutely: {{ borg.retention_policy.keep_minutely }}
{% endif %}

{% if borg.retention_policy.keep_hourly is defined %}
    keep_hourly: {{ borg.retention_policy.keep_hourly }}
{% endif %}

{% if borg.retention_policy.keep_daily is defined %}
    keep_daily: {{ borg.retention_policy.keep_daily }}
{% endif %}

{% if borg.retention_policy.keep_weekly is defined %}
    keep_weekly: {{ borg.retention_policy.keep_weekly }}
{% endif %}

{% if borg.retention_policy.keep_monthly is defined %}
    keep_monthly: {{ borg.retention_policy.keep_monthly }}
{% endif %}

{% if borg.retention_policy.keep_yearly is defined %}
    keep_yearly: {{ borg.retention_policy.keep_yearly }}
{% endif %}

    # When pruning, only consider archive names starting with this prefix.
    # Borg placeholders can be used. See the output of "borg help placeholders" for
    # details. Defaults to "{hostname}-". Use an empty value to disable the default.
    prefix: '{hostname}-'

# Consistency checks to run after backups. See
# https://borgbackup.readthedocs.org/en/stable/usage.html#borg-check and
# https://borgbackup.readthedocs.org/en/stable/usage.html#borg-extract for details.
consistency:
    # List of one or more consistency checks to run: "repository", "archives", "data",
    # and/or "extract". Defaults to "repository" and "archives". Set to "disabled" to
    # disable all consistency checks. "repository" checks the consistency of the
    # repository, "archives" checks all of the archives, "data" verifies the integrity
    # of the data within the archives, and "extract" does an extraction dry-run of the
    # most recent archive. Note that "data" implies "archives".
    checks:
        - repository
        # - archives
        # - disabled

    # Restrict the number of checked archives to the last n. Applies only to the "archives" check. Defaults to checking all archives.
    check_last: 3

    # When performing the "archives" check, only consider archive names starting with
    # this prefix. Borg placeholders can be used. See the output of
    # "borg help placeholders" for details. Defaults to "{hostname}-". Use an empty
    # value to disable the default.
    prefix: '{hostname}-'

# Shell commands, scripts, or integrations to execute at various points during a borgmatic
# run. IMPORTANT: All provided commands and scripts are executed with user permissions of
# borgmatic. Do not forget to set secure permissions on this configuration file (chmod
# 0600) as well as on any script called from a hook (chmod 0700) to prevent potential
# shell injection or privilege escalation.
hooks:
    before_backup:
        - echo "Starting a backup."

    after_backup:
        - echo "Finished a backup."
